/* purgecss start ignore */

@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;
/* App CSS */

@font-face {
    font-family: 'roboto-regular';
    src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'roboto-bold';
    src: url(./fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: 'Comfortaa-Bold';
    src: url(./fonts/Comfortaa-VariableFont_wght.ttf) format('truetype');
}

.sfd-purple-text {
    color: #790ABF;
}

.sfd-font-regular {
    font-family: 'roboto-regular';
}

.sfd-font-bold {
    font-family: 'roboto-bold';
}

.sfd-font-comfortaa-bold{
    font-family: 'Comfortaa-Bold';
}

.sfd-menu:hover, .sfd-menu.active {
    color: #D033D3;
}

.sfd-cover-image {
    border-radius: 1.5rem;
}

.sfd-slogan-text{
    bottom: 15%;
    left: 10%;
}

.sfd-form-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #ffffff;
    border-color: #790ABF;
    border-width: 2px;
    border-radius: 0.375rem;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
}

.sfd-form-input:focus {
    outline: 2px #aa1cb8
}

.sfd-feedback-btn {
    background-image: linear-gradient(to right, #E438BE, #B82DEF);
    background-color: #B82DEF;
}

.sfd-feedback-btn:hover {
    background-image: linear-gradient(to left, #E438BE, #B82DEF);
    background-color: #B82DEF;
}

/* Responsive */

/* Small (sm) */

@media (min-width: 640px) {
    /* ... */
}

/* Medium (md) */

@media (min-width: 768px) {
    .sfd-slogan-text{
        bottom: 15%;
        left: 10%;
    }
}

/* Large (lg) */

@media (min-width: 1024px) {
    .sfd-download-section {
        background-size: 100% 50%;
    }
    .sfd-slogan-text{
        bottom: 15%;
        left: 10%;
    }
    .sfd-no-long-read-section {
        background: url('/gradient_line_l_to_r_large@2x.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    .sfd-download-section {
        background: url('/gradient_line_r_to_l_large.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: bottom;
    }
    .sfd-footer {
        background: url('/gradient_line_footer.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}

/* Extra Large (xl) */

@media (min-width: 1280px) {
    .sfd-download-section {
        background-size: 100% 70%;
    }
}